.checkout{
    background-color: white;
    display: flex;
    height: max-content;
    padding: 20px;
}

.checkout--left{
    background-color: white;
}

.checkout--adv{
    height: auto;
    width: 97%;
    margin-bottom: 15px;
}

.checkout--title{
    padding: 19px;
    width: 97%;
    border-bottom: 1px solid black;
}
.checkout--title1{
    padding: 19px;
    width: 97%;
    border-bottom: 1px solid black;
}

.checkout--right{
    height: 170px;
    background-color: aqua;
}
@media screen and (max-width: 650px) {
    .checkout--adv{
        display: none;
    }
    .checkout--right{
        width: auto;
        margin-left: auto;
        margin-top: -7px;
        height: 130px;
    }
    .checkout--title{
        margin-bottom: 20px;
        font-size: 15px;
        margin-top: 6px;
    }
    .checkout--title1{
        margin-top: -30px;
        font-size: 15px;
    }
} 
