.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.checkoutProduct--info{
    padding-left: 60px;
}

.checkoutProduct--info button{
    border-radius: 5px;
    background: #F7CA00;
    border-color: #9b8212;
    color: black;
    border: 1px solid;
    text-align: center;
    margin-left: 15px;
    font-size: 23px;
    width: 250px;
    margin-top: 10px;
}
.checkoutProduct--info button:hover{
    border: 1px solid black;
    box-shadow: 6px 6px grey;
    background-color: yellow;
    color: red;
}
.checkoutProductImage{
    object-fit: contain;
    width: 250px;
    height: 250px;
}
.checkoutProduct--title{
    font-size: 25px;
    font-weight: 800;
}
.checkoutProduct--price{
    font-size: 25px;
    font-weight: 800;
}

@media screen and (max-width: 650px) {
    .checkoutProduct{
        display: flex;
        width: 100px;
        flex-direction: row;
    }
    .checkoutProductImage{
        object-fit: contain;
        align-items: center;
        width: 120px;
        justify-content: center;
        margin-top: -30px;
    }
    .checkoutProduct--title{
        width: 158px;
        margin-left: -30px;
        font-size: 17px;
    }
    .checkoutProduct--price{
        font-size: 17px;
        margin-left: -30px;
    }
    .checkoutProduct--info button{
        width: 150px;
        font-size: 15px;
        margin-top: -20px;
        margin-left: -30px;
    }
}
@media screen and (max-width: 576px) {
    .checkoutProductImage{
        object-fit: contain;
        align-items: center;
        width: 140px;
        justify-content: center;
        margin-top: -30px;
    }
    .checkoutProduct--title{
        width: 170px;
        margin-left: -30px;
        font-size: 20px;
    }
    .checkoutProduct--price{
        font-size: 20px;
        margin-left: -30px;
    }
    .checkoutProduct--info button{
        width: 150px;
        font-size: 17px;
        margin-top: -20px;
        margin-left: -30px;
    }
}
