.checkout{
    background-color: white;
    display: flex;
    height: max-content;
    padding: 20px;
}

.checkout--left{
    background-color: white;
}

.checkout--adv{
    height: auto;
    width: 97%;
    margin-bottom: 15px;
}

.checkout--title{
    padding: 19px;
    width: 97%;
    border-bottom: 1px solid black;
}

.checkout--right{
    height: 170px;
    background-color: aqua;
}

/* @media screen and (max-width: 480px) {
    .checkout--adv{
        margin-top: -12px;
        width: 260%;
        height: auto;
    }
    .checkout--right{
        margin-top: 18px;
        height: 120px;
    }
    .checkout--title{
        margin-top: 8px;
    }
} */
@media screen and (max-width: 576px) {
    .checkout--adv{
        display: none;
        margin-top: -12px;
        width: 170%;
        height: auto;
    }
    .checkout--right{
        margin-left: 20px;
        margin-top: 23px;
        height: 120px;
    }
    .checkout--title{
        margin-top: 24px;
    }
}
@media screen and (max-width: 768px) {
    .checkout--adv{
        display: none;
        margin-top: -12px;
        width: 170%;
        height: auto;
    }
    .checkout--right{
        margin-left: auto;
        margin-top: 23px;
        height: 120px;
    }
    .checkout--title{
        margin-right: auto;
        margin-top: 24px;
    }
}