.checkout{
    background-color: white;
    display: flex;
    height: max-content;
    padding: 20px;
}

.checkout--left{
    background-color: white;
}

.checkout--adv{
    height: auto;
    width: 97%;
    margin-bottom: 15px;
}

.checkout--title{
    padding: 19px;
    width: 97%;
    border-bottom: 1px solid black;
}

.checkout--right{
    height: 170px;
    background-color: aqua;
}