.home{
    background-color: #bec8c8;
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 1500px;
    z-index: 500;
    margin-left: auto;
    margin-right: auto;
}

.home--container{
    align-items: center;
    justify-content: center;
    margin-top: -350px;
    height: 2130px;
    width: 100%;
}
.home--row{
    font-weight: 10000px;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    display: flex;
    /* flex-direction: column; */
    z-index: 1;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    /* margin-top: 50px; */
}
.home--row1{
    font-weight: 10000px;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    display: flex;
    /* flex-direction: column; */
    z-index: 1;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    /* margin-top: 50px; */
}

@media screen and (max-width: 480px) {
    .home--row1{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 230px;
        display: flex;
        flex-direction: column;
    }
    .home--row{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 3px;
        display: flex;
        flex-direction: column;
    }
    .home--container{
        height: 130%;
    }
}
@media screen and (max-width: 576px) {
    .home--row1{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 220px;
        display: flex;
        flex-direction: column;
    }
    .home--row{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 3px;
        display: flex;
        flex-direction: column;
    }
    .home--container{
        height: 130%;
    }
}
@media screen and (max-width: 768px) {
    .home--row1{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 220px;
        display: flex;
        flex-direction: column;
    }
    .home--row{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 3px;
        display: flex;
        flex-direction: column;
    }
    .home--container{
        height: 130%;
    }
}